<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <head>
        <title>Candidatos</title>
    </head>
    <h:body>
        <p>
            <h3 style="text-align:center">Candidatos</h3>
        </p>
        <h:form>
            <h:commandButton id="btnVoltar" value="Voltar" action="./inscricao.xhtml" /> <br/><br/>
        </h:form>
        <h:form>
            <h:dataTable id="listaCandidatos" value="#{registroBean.candidatosList}" var="item" border="1" >
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="CPF"/>
                    </f:facet>
                    <h:outputText value="#{item.cpf}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{item.nome}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade"/>
                    </f:facet>
                    <h:outputText value="#{item.cidade}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="UF"/>
                    </f:facet>
                    <h:outputText value="#{item.estado}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>